.DataTable{
        width: 98%;
}   



.ant-table-cell{
&::before{
    background: transparent !important;
}
}
.ImageWname{
   
    img{
        border-radius: 50%;
        width: 7xvw;
        height: 7xvw;
    }
}

.ant-table-cell:has(.even-row){
    border-left: 4px solid var(--primary);
}

.ClickHere{
    padding: .3vw .8vw;
    border-radius: 4vw;
    width: 5vw;
    background-color: var(--primary);
    color: var(--white);
    border: none ;
    outline: none;
    font-size: .9vw;
}