<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="Test.css">
</head>
<body>
    <div class='Test'>
        <div class='Sections'>
            <div class='Section'>
                <span>
                    <span>
                        <img src="/Test/Logo.png" alt="">
                        <h6>Adel Saber</h6>
                        <p>الصف : Grade 3</p>
                        <p>الفصل : Year 4</p>
                    </span>
                    <div>
                        <img src="https://img.freepik.com/free-vector/scan-me-qr-code_78370-2915.jpg?t=st=1710309616~exp=1710313216~hmac=2ca9364efe5d3715ab5059c337c8d63575d59d588fd206f7ad3ccdf3267aa0ba&w=740" alt="">
                        <p></p>
                        <h6></h6>
                    </div>
                </span>
                <div>
                    <svg class="info-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 80c30.9 0 55.9 25 55.9 55.9S286.9 199.9 256 199.9 200.1 174.9 200.1 144 225.1 88 256 88zm-40 280c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-96c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v96zm56-224c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-16z"></path></svg>
                    يرجى  تحمبل تطبيق أبجديات ثم  المسح رمز الدخول  اعلاه الخاص بالطفل
                </div>
            </div>
            <!-- Repeat this Section div as needed -->
        </div>
    </div>
</body>
</html>
