.Test{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    background: white;
    .Sections{
        display: flex;
        gap: 2vw;
        width: 100%;
        flex-wrap: wrap;
            justify-content: center; align-items: center;
            .Section{
                width: 40vw;
                height: 27vw;
                padding: 2vw;
                border :.2vw dashed gray ;
                display: flex;
                flex-direction: column;

                justify-content: space-between;
                >span{
                    display: flex;
                    justify-content: space-between;

                    width: 100%;
                    span{
                        display: flex;
                        flex-direction: column;
                        gap: 1vw;
                        h6{
                            font-weight: bold;
                        }
                        p{
                            color: rgb(46, 46, 46);
                            font-weight: 400;
                        }
                        img{
                            width: 9vw;
                        }
                    }
                    >div{
                        img{
                            width: 15vw;
                        }
                    }
                }

                >div{
                    text-align: center;
                    
                    svg{
                        color: rgb(0 210 255);
                        margin-inline: 1vw;
                    }
                }

            }
    }
}